.patient-management-container {
    .patient-management-title {
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        color: #0071ba;
    }

    .patient-management-body {
        .patient-management-table {
            .mp-btn-confirm {
                margin-right: 10px;
                height: 30px;
                border-radius: 3px;
                background-color: orange;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }
    }
}

#PatientManagementTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#PatientManagementTable td,
#PatientManagementTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#PatientManagementTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#PatientManagementTable tr:hover {
    background-color: #ddd;
}

#PatientManagementTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}
