.examinication-info-container {
    .examinication-info {
        font-size: 30px;
        font-weight: 600;
        margin: 200px;
        text-align: center;
        text-transform: uppercase;
        color: red;
    }
}
